body {
    background-color: #888888;
    color: whitesmoke;
    font-size: 4em;
}

.currentTemp {
    font-size: 5em;
}

#tempUp, #tempDown {
    width: 3em;
    height: 3em;
}

#currentMode {
    font-size: 2em;
}

.selectedDay {
    text-decoration: underline;
}

.unselectedDay {
    color: black;
}

#errors {
    color: red;
}

.btn-lg {
    padding: .5rem 1rem;
    font-size: 3rem;
    line-height: 2.5;
    border-radius: .6rem;
}

input[type="checkbox"] {
    zoom: 3;
}

.relayOn {
    color: lightgreen;
}

.relayOff {
}
